/* New FSJS project 2 - List Pagination and Filter - v2 - Data version */

:root {
  --text-color: #fffaf0;
  --accent-color: #f00;
  --primary-black-color: #000;
  --transparent1-prim-black-color: rgba(0, 0, 0, .8);
  --transparent2-prim-black-color: rgba(0, 0, 0, .6);
  --transparent3-prim-black-color: rgba(0, 0, 0, .5);
  --box-shad-color: #686161;
  --form-el-bg-color: #1b1b1b;
  --scroll-handle-color: rgb(201, 181, 181);
  --image-container-grad-bg-color: #0a0402;
  --student-border-color: #5a5858;
  --transition-six-transform: transform .6s ease-in-out;
  --transition-five-transform: transform .5s ease-in-out;
}

body {
  font-family: 'aptly', Helvetica, sans-serif;
  letter-spacing: 1px;
  background-color: #000;
  background-image: url(../img/bg-red-blk-hex.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
}

.full-width {
  width: 100%;
}

.round {
  border-radius: 100%;
}

.silver-border {
  border: solid 1px var(--student-border-color);
}

.header-container {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #000;
  height: 150px;
}

header h2 {
  color: var(--text-color);
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.uniName {
  font-family: amandine, sans-serif;
  text-transform: uppercase;
}

.tablet-uniName {
  display: none;
}

/*********************************
  STUDENT SEARCH ELEMENTS
**********************************/

.search-container {
  border-top: solid 1px red;
  border-bottom: solid 1px red;
}

.input-height {
  height: 50px;
}

.input-container {
  position: relative;
  margin-top: 10px;
  width: 300px;
}

#student-search {
  background: var(--form-el-bg-color);
  border-radius: 3px;
  color: var(--text-color);
  padding: 1em;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-color);
  cursor: pointer;
}

.search-icon {
  position: absolute;
  top: 2px;
  right: 0;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  background: var(--accent-color);
  border: solid 2px var(--primary-black-color);
  box-shadow: 0 0 15px var(--primary-black-color) inset;
}

.up-label {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0.75rem;
  color: rgba(255, 250, 240, 0.7);
  transition: transform 0.2s ease-in-out;
}

input:focus+.up-label {
  transform: translateY(-50px);
  color: rgba(255, 250, 240, 0.9);
}

/*********************************
  PAGINATION ELEMENTS
**********************************/

.pagination-buttons {
  position: fixed;
  bottom: 0;
  margin-top: 30px;
  text-align: center;
  background: var(--primary-black-color);
  border-top: solid 1px red;
  border-bottom: solid 1px red;
}

.link-list li button {
  width: 30px;
  height: 30px;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  background: var(--accent-color);
  border: none;
  border-radius: 3px;
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 0px 1px var(--primary-black-color);
  box-shadow: 0 1px 2px 0 rgba(255, 250, 240, 0.9);
  transition: 0.4s;
}

.pagination-buttons li button.active,
.pagination-buttons li button:hover {
  background-color: var(--text-color);
  color: var(--accent-color);
  box-shadow: 0 1px 8px 0 var(--accent-color);
}

/*********************************
  STUDENT CONTAINERS
**********************************/

.students-wrapper {
  margin-top: 150px;
  margin-bottom: 30px;
  padding: 0.500rem;
  background: var(--transparent3-prim-black-color);
  border: solid 1px var(--accent-color);
  border-radius: 5px;
}

.student-container,
.student-not-found {
  width: 250px;
  background: var(--primary-black-color);
  color: var(--text-color);
  transition: var(--transition-six-transform);
}

.student-not-found {
  width: 300px;
  max-width: 1400px;
  letter-spacing: 2px;
}

.student-not-found p {
  font-size: 1.1rem;
}

.student-not-found span.uniName {
  font-size: 1.2rem;
  text-shadow: 0 1px 1px var(--accent-color);
}

.student-avatar {
  width: 90px;
  height: 90px;
  background: linear-gradient(to left, var(--accent-color), var(--image-container-grad-bg-color));
  border-radius: 100%;
  padding: 5px;
  margin: 5px 0;
  transition: var(--transition-five-transform);
}

.student-avatar img {
  filter: grayscale(100%) contrast(1.2) brightness(0.9);
}

.student-name {
  transition: var(--transition-six-transform);
}

.student-name h3 {
  font-size: 1.2rem;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.45em;
  text-shadow: 0 1px 1px var(--accent-color);
}

.student-details .student-email {
  font-size: 0.850rem;
}

.student-joined {
  text-align: center;
}

.student-join-date {
  display: block;
  font-size: 14px;
  color: #c0c0c0;
  font-weight: 400;
  width: 100%;
  padding-top: 1rem;
  border-top: solid 1px var(--accent-color);
  margin: 1rem 0;
}

.student-wrap:hover .student-container {
  transform: scale(0.9);
  border-radius: 50%;
  cursor: zoom-in;
}

.student-wrap:hover .student-avatar {
  transform: translateX(-50px);
}

.student-wrap:hover .student-name {
  transform: translateX(40px) translateY(-6px);
}

/******************************
     SCROLL BAR
******************************/

::-webkit-scrollbar {
  width: 10px;
}

/* Track background */

::-webkit-scrollbar-track {
  background: var(--primary-black-color);
}

/* Scrollbar thumb */

::-webkit-scrollbar-thumb {
  background: rgba(255, 000, 000, 0.4);
  border-radius: 10px;
}

/* Thumb on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 250, 240, 0.5);
}

/******************************
    MEDIA QUERIES
******************************/

@media screen and (min-width: 768px) {
  .header-container {
    height: 80px;
  }

  .students-wrapper {
    margin-top: 85px;
    margin-bottom: 60px;
  }

  header h2 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .student-not-found {
    width: 700px;
  }
}

@media screen and (min-width: 992px) {
  .student-not-found {
    width: 900px;
  }
}

@media screen and (min-width: 1200px) {
  .student-not-found {
    width: 1100px;
  }
}

@media screen and (min-width: 1400px) {
  .student-not-found {
    width: 1200px;
  }
}